
  </main>
  <footer id="footer">
    <div class="buttons">
      <a type="button" class="btn btn-dark btn-lg" href="https://www.linkedin.com/in/cecilia-brannan-3171b8202/"><i class="fa-brands fa-linkedin"></i></a>
      <a type="button" class="btn btn-dark btn-lg" href="https://github.com/Cbrannan19"><i class="fa-brands fa-github"></i></a>
      <a type="button" class="btn btn-dark btn-lg" href = "https://docs.google.com/document/d/e/2PACX-1vR3EjztDnsIhUisWR0iA8xDNLcq5TzentGtate_MF9XD_JOng-QrKANI-NN5scnyXIq42FKplFXOAq-/pub"><i class="fa-solid fa-download"></i></a>
    </div>
  </footer>
</body>

</html>
