<%- include("partials/header"); -%>

<h2>Coding Experience</h2>
<hr />
<h4>Full Stack Developer</h4>
<em>
  <h5>St. Louis, MO &emsp; May 2022-Present</h5>
</em>
<h5>Web App Creation</h5>
<ul>
  <li>
    Built applications for clients including consulting sites, resumes, games, and more.
  </li>
  <li>
    Used bootstrap, CSS, HTML, EJS, ReactJS, Nodemailer, Node.JS, Digital Ocean, MongoDB, and others.
  </li>

</ul>
<br />
<h4>Udemy</h4>
<em>
  <h5>Online &emsp; April-Present 2022</h5>
</em>
<h5>Full Stack Developer Course</h5>
<ul>
  <li>
    Course covered CSS, HTML, Javascript, DOM, jQuery, Bootstrap, Unix, Node.JS, Express.JS, React.JS, MongoDB, SQL, and more.
  </li>

</ul>
<br />
<h4>Santa Clara University</h4>
<em>
  <h5>Santa Clara, CA &emsp; 2019-2022</h5>
</em>
<h5>Computer Engineering Student</h5>
<ul>
  <li>
    I studied as a computer science and engineering student for 2.5 years in the Bay Area.
  </li>
  <li>
    Took courses in web development, electrical engineering, OOP, advanced programming in C, abstract data types and structures, logic design, embedded systems, theory of algorithms, and more.
  </li>
  <li>
    Languages studied include: C, C++, Java, Javascript, Python, source code, scheme, shell, scala, standard ML, smalltalk, pascal
  </li>
</ul>
<br />
<h4>KidztoPros</h4>
<em>
  <h5>Bay Area, CA &emsp; Summer 2020 and 2021</h5>
</em>
<h5>Coding Instructor</h5>
<ul>
  <li>
    Courses taught: Introduction to Python Programming, Python: Programming and Game Design, Unity Game Design: Unity and C#, Arduino: Circuit and Science, Web Design: HTML JS and CSS
  </li>

</ul>

<%- include("partials/footer"); -%>
