
header{
    color: white;
    display: flex;
    background-color: #22252A;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

body{
  margin: 5%;
}
h2{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 2%;
}
h3{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
h4{
  font-family: 'Roboto Condensed', sans-serif;
}
h5{
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar{
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    position: relative;
}
.navbar a:hover{
    background-color: #97A2D1;
    text-decoration: none;
    color: white;
    border-radius: 12px;
}
.navbar a:active{
    background-color: #97A2D1;
    text-decoration: none;
    color: white;
    border-radius: 12px;
}
.row{
  margin: 5%;
}
.card-header{
  background: #97A2D1;
  color: #fff;
}

.link{
  color: #97A2D1;
}
.contact-col .btnContact {
    width: 120px;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #97A2D1;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #97A2D1;
    border: none;
    cursor: pointer;
}
.form-group{
  padding: 2%;
}

.btn{
  background-color: #97A2D1;
  border: none;
}
.buttons{
  text-align:center;
  padding: 7%;
}
